<form action="/cool_url" method="get">
  First Field:
  <input type="text" name="post[title]">
  <input type="submit" value="Submit">
</form>
<br>

<form action="/cool_url" method="post">
  Second Field:
  <input type="text" name="post[title]">
  <input type="submit" value="Submit">
<br><br>
</form>

<br>
<form action="/cool_url" method="post">
 <textarea name="post[description]">
  </textarea><br><br>
  <input type="text" name="post[price]">
  <input type="submit" value="Submit">
</form>


<form name="radiobutton" action="/cool_url" method="post">
<br>
<input type="radio" name="group1" value="Milk"> Milk<br>
<input type="radio" name="group1" value="Butter" checked> Butter<br>
<input type="radio" name="group1" value="Cheese"> Cheese
<hr>
<input type="radio" name="group2" value="Water"> Water<br>
<input type="radio" name="group2" value="Beer"> Beer<br>
<input type="radio" name="group2" value="Wine" checked> Wine<br>
<input type="submit" value="Submit for radio button">
</form>
<br>

<form name="selectbox" action="/cool_url" method="post">
  <select name="post[name]">
    <option value="Fresh Milk">Milk</option>
    <option value="White Coffee">Coffee</option>
    <option value="Ulong Tea">Tea</option>
  </select>
  <input type="submit" value="Submit for selectbox">
</form>

<form name="checkbox" action="/cool_url" method="post"><br>
<input type="checkbox" name="option1" value="Milk"> Milk<br>
<input type="checkbox" name="option2" value="Butter" checked> Butter<br>
<input type="checkbox" name="option3" value="Cheese"> Cheese<br>
<input type="submit" value="submit for checkbox">
<br>
</form>