<form action="/cool_url" method="get">
  <input type="text" name="user_input">
  <input type="submit" value="Submit">
<br><br>
</form>

<form action="/cool_url" method="post">
  <input type="text" name="user_input">
  <input type="submit" value="Submit">
</form>


<p>URL parameters:</p>
<%= params %>